<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>아야진해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<!--css-->
	<link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/common_m.css">
	<link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/view/init_m.css">
<!--
	<link rel="stylesheet" href="../../static/css/common_m.css">
	<link rel="stylesheet" href="../../static/css/view/init_m.css">
-->
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="http://static.ayajinbeach.co.kr/js/common_m.js"></script>
<!--	<script src="../../static/js/common_m.js"></script>-->
	
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap">
				<div class="area container">
					<h1 class="logo"><a href=""><img src="http://img.ayajinbeach.co.kr/m/common/logo.png" alt="아야진해수욕장 로고"> <span class="skip">아야진해수욕장 로고</span></a></h1>
					<button class="appe-reset nav-tab">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<div class="weather">
						<span class="s0">아야진</span> <spana class="s1">흐림</spana><spana class="mg"></spana><spana class="c">35℃</spana>
					</div>
					<nav class="gnb">
						<div class="bg-drop"></div>
						<ul class="menu cf">
							<li class="item-0">
								<h2>
									<span class="alp">ayajin</span><br><span class="f-bd">아야진해수욕장</span>
								</h2>
								<span class="a-i-x i-x" onclick=""></span>
							</li>
							<li class="item-1"><a href="../index.html">홈으로 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-1"><a href="../about/">아야진해변 소개 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-2"><a href="../view/">고성8경 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-2"><a href="../tourist/">관광정보 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-3"><a href="../waycome/">오시는 길 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-4"><a href="../board/memory_list.html">추억게시판 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="item-5"><a href="../board/">공지사항 <span class="ic-rArrow rArrow"></span></a></li>
							<li class="last">
								<p class="p-1">
									수려한 주위경관과 잘 어우러진<br>
									맑은 바다에서 모든 사람이 행복해 집니다.
								</p>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="contents">
			
			<section class="wrap subVisual">
				<div class="mainTxt container">
					<h2>ayajin<br><span class="sm">beach</span></h2>
				</div>
			</section>
			<section class="wrap cmStyle view">
				<div class="subTit">
					<h2 class="thColor">고성8경</h2>
					<p class="st-p1">
						ayajin <span class="f-nm">beach</span><br>
						고성이 자랑하는 스페셜 관광지 고성8경을 꼭 만나보세요 !
					</p>
				</div>
				<div class="container">
					<h3 class="h3-tit-2">
						<span class="block">
							다양하고 아름다운 모습에 감탄이 절로 나옵니다.
						</span>
						고성에서 만나는 <span class="thColor">여덟가지 진풍경 !</span>
					</h3>
					<div class="area">
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_01.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">I</span> 건봉사</h4>
									</dt>
									<dd>
										설악산 신흥사, 백담사 등 9개 말사를 거느<br>
										렸던 전국 4대 사찰중 한 곳으로 신라 법흥<br>
										왕때 지어진 오랜 사찰입니다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_02.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">II</span> 천학정</h4>
									</dt>
									<dd>
										동해바다의 신비를 고스란히 간직하고 <br>
										있는 천혜의 기암괴석과 깎아지른 듯한 <br>
										해안 절벽 위에 건립된 아름다운 곳입니다.
									</dd>
								</dl>
							</li>
						</ol>
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_03.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">III</span> 화진포</h4>
									</dt>
									<dd>
										죽정리에 연접한 화진포는 호숫가에 <br>
										해당화가 만발해 붙여진 이름으로 둘레 <br>
										16km의 동해안 최대의 자연호수이다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_04.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">IV</span> 청간정</h4>
									</dt>
									<dd>
										설악산 골짜기에서 흘러내리는청간천과 <br>
										만경창파가 넘실거리는 기암절벽위에 팔각<br>
										지붕의 중층누정으로 세워져 있습니다.
									</dd>
								</dl>
							</li>
						</ol>
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_05.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">V</span> 울산바위</h4>
									</dt>
									<dd>
										설악산 끝자락의 속초와 고성의 경계지역에 <br>
										위치한 울산바위는 자연의 위용과 함께 <br>
										기암절벽의 극치를 보여줍니다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_06.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VI</span> 통일전망대</h4>
									</dt>
									<dd>
										금강산의 구선봉과 해금강이 지척에 <br>
										보이며, 발 아래에는 남북연결 육로의 <br>
										모습을 볼 수 있습니다.
									</dd>
								</dl>
							</li>
						</ol>
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_07.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VII</span> 송지호</h4>
									</dt>
									<dd>
										송림이 울창한 송지호는 둘리가 약 4km,<br>
										수심이 5m에 달하는 자연호수와 죽도가 <br>
										어우러져 경관이 수려한 곳입니다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="http://img.ayajinbeach.co.kr/view/view_08.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VIII</span> 마산봉설경</h4>
									</dt>
									<dd>
										백두대간 준령 위 진부령 인근에 위치하고<br>
										있는 봉우리로 동해안의 절경과 겨울의 <br>
										설경이 경관을 이루고 있습니다.
									</dd>
								</dl>
							</li>
						</ol>
					</div>
					<div class="view-map">
						<img src="http://img.ayajinbeach.co.kr/m/view/map.png" alt="속초8경 지도">
						<div class="info">
							※ 더 많은 고성 관광지는 주변관광 메뉴를 통해<br>
							확인해 주시기 바랍니다.
						</div>
					</div>
				</div>
			</section>
			
		</div>		
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="http://img.ayajinbeach.co.kr/m/common/logo_f.png" alt="아야진해수욕장로고"></figure>
				<address>
					속초에서 북쪽, 7번 국도로 6km !<br>
					아야진에서는 수려한 풍경은 물론, 평화롭고 한적한 바로 그 느낌을 드립니다.
					<p class="p-2">
						본 사이트는 아야진해수욕장을 사랑하는 주민자치회가 자체 운영합니다.<br>
						강원도 고성군 토성면 아야진해변길 157<br>
						help@ayajinbeach.co.kr<br>
					</p>
					<small>copyright @ ayajinbeach.co.kr All right reserved</small>
				</address>
			</div>
		</footer>
		
		<a href="javascript:;" class="btn-top">
			<span class="arr">▲</span>
			TOP
		</a>
		
	</div>	
		
</body>
</html>